.content {
  padding: 8px 12px 10px 67px;
}

.drawer {
  .v-list-item-title {
    font-size: 15.5px;
  }

  .btn-signout:hover {
    color: #F44336;
  }
}

.chat-index,
.completion-index,
.image-index {
  .msg-col {
    .v-row {
      margin-top: 0 !important;
    }
  }
}

.image-index {
  .v-img__error {
    display: flex;
    align-items: center;
    background: #9E9E9E;
    justify-content: center;

    i {
      font-size: 4rem;
    }
  }
}

.message-card {
  .card-content {
    white-space: pre-wrap;
    font-family: -apple-system, Roboto, Ubuntu, 'Segoe UI', 'Cantarell', 'Noto Sans', sans-serif, 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

  .msg-card-icons {
    margin-left: 13px;
  }

  pre {
    padding: 16px;
    background: #f4f4f4e0;
    border-radius: 6px;
  }

  code {
    padding: .2em .4em;
    border-radius: 6px;
    background: #a3aab133;
  }

  pre,
  code {
    font-family: ui-monospace, 'SFMono-Regular', 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace;
    font-size: 14px;
    overflow: auto;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: rgba(17, 12, 46, 0.233) 0px 0px 50px 0px;

  .textarea-with-icon {
    position: relative;
    margin: 0 30vw 0 calc(30vw + 4rem);

    textarea {
      overflow: auto;
      padding-right: 1.6vw;
    }
  }

  .v-field--appended {
    padding-inline-end: 0;
  }

  .send-icon {
    position: absolute;
    bottom: 0;
    right: 12px;
    transform: translateY(-70%);
  }

  .disabled {
    cursor: default;
  }
}

.btn-scroll2bottom {
  transform: translate(40vh, 82vh);
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .pp-link {
    font-size: 14px !important;
    text-decoration: none;
  }
}

/* Scroll style
*
* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #bdbdbd inherit;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: inherit;
}

*::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 20px;
  border: 3px solid inherit;
}